.main_block {
    display: flex;
    max-width: 1140px;
    min-height: 1100px;
    justify-content: space-between;
    margin: auto;
}

.all_news_block {
    background-color: green;
    height: 1000px;
    width: 70%;
    box-shadow: 2px 2px 7px 5px grey;
    border-radius: 20px;
}

.left_block {
    min-height: 1000px;
    width: 25%;
    border-radius: 20px;
} 

.categories_block {
    min-height: 150px; 
    background-color: blue;
    margin-bottom: 50px;
    box-shadow: 2px 2px 7px 5px grey;
    border-radius: 20px;
}

.last_news {
    min-height: 300px;
    background-color: blue;
    box-shadow: 2px 2px 7px 5px grey;
    border-radius: 20px;
}